<html ng-app="b">
  <head> 
    <!-- Include 3rd party libraries -->
    <script src="bower_components/d3/d3.js" charset="UTF-8"></script>
    <script src="bower_components/angular/angular.js" charset="UTF-8"></script>
    <script src="bower_components/topojson/topojson.js" charset="UTF-8"></script>

    <!-- Include the application files -->
    <script src="src/app.js"></script>
    <link href="src/app.css" rel="stylesheet">

    <!-- Include the files of the chart component -->
    <script src="src/services/eventService.js"></script>
    <script src="src/views/provinceLatencyView.js"></script>
    <script src="src/controller/people.js"></script>
    <script src="src/controller/user.js"></script>

  </head>
  <body>
    <div ng-controller="MainCtrl">
      <m-Province-Latency-View latency="latency" county-Map="countyMap"></m-Province-Latency-View>
    </div>

    <div ng-controller="peopleCtrl">
      <li ng-repeat="name in names">
        {{name}}
      </li>
    </div>

    <div ng-controller="userCtrl" align="left">
      <input ng-model="newUser"/>
      <button ng-click="addUser(newUser)">Add New User</button>
      <li ng-repeat="user in users">
        {{user}}
      </li>
    </div>



  </body> 
</html>