<html ng-app="myApp">
  <head> 
    <!-- Include 3rd party libraries -->
    <script src="bower_components/d3/d3.js" charset="UTF-8"></script>
    <script src="bower_components/angular/angular.js" charset="UTF-8"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/topojson/topojson.js" charset="UTF-8"></script>

    <!-- Include the application files -->
    <script src="src/app.js"></script>
    <link href="src/app.css" rel="stylesheet">

    <!-- Include the files of the chart component -->
    <script src="src/services/eventService.js"></script>
    <script src="src/controller/latencyController.js"></script>
    <script src="src/controller/provinceLatencyViewController.js"></script>
    <script src="src/controller/traceRouteController.js"></script>
    <script src="src/controller/chinaTraceRouteViewController.js"></script>
    <script src="src/controller/traceQueryController.js"></script>


    <script src="src/views/provinceLatencyView.js"></script>
    <script src="src/views/chinaTraceRouteView.js"></script>
    <script src="src/controller/people.js"></script>
    <script src="src/controller/user.js"></script>

    // preloaded data of each Geolocation of GB1999: ChinaCountyGBZipLatLonArray
    <script src="src/data/ChinaCityCountyCodes.js" charset="UTF-8" ></script>
    // preload data: china map into: topoChinaMap;
    <script src="src/data/ChinaMapJs.js" charset="UTF-8" ></script>

  </head>
  <body>
  <header>
    <a href="#/latency">Latency View</a>
    <a href="#/trace">Trace Route View</a>
    <a href='#/default'>Default</a>
  </header>
<div>
  <div id="countyname" >COUNTYNAME</div>
  <div id="provincename" >PROVNAME</div>
  <div id="cx" >PROVNAME</div>
  <div id="cy" >PROVNAME</div>
  <div id="zoomscale" >0</div>
</div>
  <svg id="svgcounties" width="900" height="600"><g id="gcounties"></g></svg>
  <div class="tooltip" style="opacity: 0; left: 504px; top: 810px;"></div>
  <div ng-view>
  </div>
  <!--

    <div ng-controller="peopleCtrl">
      <li ng-repeat="name in names">
        {{name}}
      </li>
    </div>

    <div ng-controller="userCtrl" align="left">
      <input ng-model="newUser"/>
      <button ng-click="addUser(newUser)">Add New User</button>
      <li ng-repeat="user in users">
        {{user}}
      </li>
    </div>
    -->

  </body> 
</html>