<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="AccountEndpoint" value="https://baudmeter.documents.azure.com:443/;AccountKey=IUtlsy/LfzdLybDA9LNRqvEwN6zxbTWt/63owmPFhjMszk7Xf5VFhljTqGUAuBJU1Ut0djgIScjTXn6ak8Fq0Q==;"/>
    <add key="AuthorizationKey" value="IUtlsy/LfzdLybDA9LNRqvEwN6zxbTWt/63owmPFhjMszk7Xf5VFhljTqGUAuBJU1Ut0djgIScjTXn6ak8Fq0Q==" />
    <add key="DatabaseId" value="BANDPING"/>
    <add key="CollectionId" value="NetAgentResults"/>
  </appSettings>

</configuration>